<h2><%= @portfolio_item.title %></h2>
 <p><%= @portfolio_item.subtitle %></p>
 <p><%= @portfolio_item.body %></p>
 <p><%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil?  %></p>
 <p><%= image_tag @portfolio_item.thumb_image unless @portfolio_item.thumb_image.nil? %></p>
 <p><%= @portfolio_item.created_at %></p>
 <p><%= @portfolio_item.updated_at %></p>
 
 <%= link_to "Back to All Posts", portfolios_path %>